.sidebar {
    height: 100%;
    width: 16%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;

}

.main {
    margin-left: 16%;
    padding: 0px 10px;
    float: left;
}

.wrapper {
    overflow: hidden;
    display: flex;
}

.bg-image {
    position: absolute;
    top: 0;
    width: 70%;
    margin-left: 30%;
    z-index: -2;
}

.intro {
    position: absolute;
    background-color: #21A0A0 ;
    width: 56%;
    z-index: -1;
    min-height: 100%;
    margin-top: 12%;
}

.intro h2 {
    color: white;
    font-family: sans-serif;
    letter-spacing: -1px;
    margin-left: 20%;
    font-size: 300%;
    margin-top: 6%;
}
.author {
    margin-left: 20%;
    z-index: -1;
}

.author h3 {
    font-family: sans-serif;
    color: white;
}

.author hr {
    margin-left: -5%;
}
.article {
    position: absolute;
    margin-top: 30%;
    margin-left: 40%;
    width: 60%;
    min-height: 100%;
    background-color: white;
}

.article p {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 128%;
}

.article li{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 128%;
}

.artcile h2{
    font-family: sans-serif;
    letter-spacing: -1px;
    margin-left: 20%;
    font-size: 300%;
    margin-top: 6%;
}

.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%
}


@media screen and (max-height: 450px) {
    .tweets {padding-top: 15px;}
}